footer{
    background-color: #F8F8F8;  
    
}
.container_footer{
    width: 100%;
    background-color: #F8F8F8;
    display: flex;  
  }
.about{
    margin-top: 80px;
    margin-left: 0px;
    width: 30%;
    display: flex;
    flex-direction: column;
}
.about_info{
    font-size: 10px;
    font-family: 'Rubik', sans-serif;
    margin-left: 200px;

}
  .logo{
    margin-left: 195px;
    width: 30%;
    display: flex;
    /* vertical align */
    margin-top: 20px;
    /* horizontal align */
    justify-content: center;
    
  }
  .logo h1{
    font-size: 15px;
    align-items: center;
    margin-top: 5px;
    margin-left: 5px;
  }

  .primary-footer{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;
    margin-left: 450px;
  }
  .primary-footer .footer{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-family: 'Rubik', sans-serif;
    
  }
  .primary-footer .footer li{
      margin: 10px;
    font-size: 13px;
    font-weight: 400;
    color: #4F5665;
    cursor: pointer;
  }
  .primary-footer .footer li:hover{
    color: #6A4029;
    font-weight: 700;
  }
  

  .secondary-footer .footer{
   margin-top: 95px;
      display: flex;
    list-style-type: none;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
  }
  .secondary-footer .footer li{
      margin: 10px;
    font-size: 13px;
    font-weight: 400;
    color: #4F5665;
    cursor: pointer;
  }
  .secondary-footer .footer li{
    margin: 10px;
    font-size: 13px;
    cursor: pointer;
  }
  .secondary-footer .footer li:hover{
      color: #6A4029;
      font-weight: 700;
    }